.box {
    height: 100px;
    width: 300px;
    background-color: pink;

    animation-name: widthAnimation;
    animation-duration: 3s;
    animation-timing-function: ease-in;
    animation-delay: 0;
    animation-iteration-count: 3;
    animation-direction:normal;
}


@keyframes widthAnimation {
    from {
        width: 10px;
    }
    to {
        width: 400px;
    }
}


@keyframes fontAnimation {
    from {
        font-size:20px;
    }
    to {
        font-size: 40px;
    }
}

@keyframes colorAnimation {
    from {
        background-color: green;
    }
    to {
        background-color: blue;
        border-radius: 15px;
    }
}