.container {
    width: 600px;
    height: 300px;
    background-color: yellow;
    display: grid;
   
    grid-template-rows: repeat(4, Ifr);
    grid-template-columns: repeat(3, Ifr);
    row-gap: 10px;
    column-gap: 10px;
    /* justify-items: end;
    align-items: center; */
    place-items: center;
}

.item {
    width: 100px;
    height: 50px;
    background-color: greenyellow;
    border: 2px solid black;
    text-align: center;
}

 .one{
    grid-column-start:1;
    grid-column-end:3
} 

.two {
    grid-row-start: 1;
    grid-row-end: 3;
}