#container {
    height: 400px;
    width: 400px;
    border: 2px solid green;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.alpha {
    height: 100px;
    width: 100px;
    background-color: grey;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 2em;
}

#nav {
    height: 50px;
    width: 900px;
    background-color: pink;
    border-radius: 15px;
    border: 2px solid lightblue;
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.text {
    height: 50px;
    width: 80px;
    font-size: 24px;
    border-radius: 10px;
    margin-left: 5px;
    line-height: 50px;
}
