.face {
    width: 400px;
    height:400px;
    background-color: rgb(250, 197, 8);
    border-radius:50%;
}

.mouth {
    width: 200px;
    height: 75px;
    background-color: brown;
    border-radius: 0 0 50px 50px;
    position: absolute;
    top: 250px;
    left: 100px;

}

.left-eye , .right-eye {
    width: 60px;
    height:60px;
    border-radius: 50%;
    background-color: black;
    display: inline-block;
    position: absolute;
    left: 100px;
    right: 100px;
    top:67px;
   
}

.right-eye {
    left: 250px;
}