*{
    font-family: "Courier New";
    
}

h1, h3 {
    color: #b92b27;
}

#login {
    background-color: white;
}

#signup {
    background-color: #b92b27;
    color: white;
}

.upvote {
    background-color: green;
    color: aliceblue;
}


/* decendent selector */

p a {
    color: purple;
    background-color: yellow;
}

nav a {
    background-color: hotpink;
}
p + h3 {
    text-decoration: underline;
}

.upvote + button {
    background-color: #1b74e4 ;
    color: white;
}

div > input {
    background-color: burlywood;
}

input [type="text"] {
    color:red;
}

input[type="password"] {
    color:green
}

button:hover {
    background-color: black;
    color: white;
}

h3:hover {
    text-decoration: overline;
}

button:active {
    background-color: hotpink;
}

p:active {
   font-weight: bold;
   color: green;
}

input[type="radio"]:checked + label {
    color:red;
    font-weight: bold;
}

div:nth-of-type(2) {
    background-color: blanchedalmond;
}

h1::first-letter {
    color:greenyellow
}

p::first-line {
    color: blue;
}

p::selection {
    background-color: rgb(253, 253, 120);
}